# Maven
target/

# Java compiled files
*.class

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secrets
.env
*.json

# Temporary files
*.tmp

# JavaFX crash logs
hs_err_pid*